<div class="grid-container">

  <div class="media-object align-center">
    <div class="media-object-section">
        <img src="/assets/lhooq.jpg">
    </div>
        <div class="media-object-section">
          <form action="/auth/login" method="POST">
            <div class="grid-y grid-padding-y">
              <div class="cell small-6">
                <label for="auth-email">E-mail</label>
                <input id="auth-email" type="email" name="email">
              </div>
              <div class="cell small-6">
                <label for="auth-password">Password</label>
                <input id="auth-password" type="password" name="password">
              </div>        
              <div class="cell">
                <input type="submit" class="button primary" value="Log In">
              </div>
            </div>
          </form>
        </div>
  </div>
</div>