<% if (alerts.error) { %>
  <% alerts.error.forEach(msg => { %>
    <li class="callout small alert calloutStyle"><%= msg %></li>
  <% }); %>
<% } %>
<% if (alerts.success) { %>
  <% alerts.success.forEach(msg => { %>
    <li class="callout small success calloutStyle"><%= msg %></li>
  <% }); %>
<% } %>
<% if (alerts.goodbye) { %>
  <% alerts.goodbye.forEach(msg => { %>
    <li class="callout small primary calloutStyle"><%= msg %></li>
  <% }); %>
<% } %>