<div class="top-bar" style="margin-bottom: -50px;">
  <div class="top-bar-left">
    <ul class="vertical medium-horizontal menu">
      <li class="menu-text"> SEIR921 - <em>r o o m 1</em>  © 2020</li>
      <li><a href="#">Github</a></li>
      <li><a href="#">Gen.ly</a></li>
    </ul>
  </div>
</div>