<div class="grid-container top-bar" style="margin-bottom: -50px;">
  <div class="top-bar-center">
    <ul class="vertical medium-horizontal menu">
      <li class="menu-text"> SEIR921 - <em>r o o m 1</em>  © 2020</li>
      <li><a href="#"><i class="fi-social-github"></i></li>
      <!-- <li><a href="#"><img src="/assets/ga-logo-32px.png" alt="Gen.ly"></a></li> -->
    </ul>
  </div>
</div>