<div class="grid-container top-bar">
  <div class="top-bar-left">
    <ul class="horizontal menu" style="background-color: mediumturquoise;">
      <li class="menu-text"> SEIR921 - <em>r o o m 1</em>  © 2020</li>
    </ul>
  </div>
  
  <div class="top-bar-right">
    <ul class="vertical medium-horizontal menu" style="background-color: mediumturquoise;">
      <li><a href="https://github.com/dcblair/art"><img src="/assets/GitHub-Mark-32px.png" alt="OctoCat"></a></li>
      <li><a href="https://generalassemb.ly/"><img src="/assets/ga-logo-32px.png" alt="Gen.ly"></a></li>
  </ul>
</div>
</div>