<div class="top-bar">
  <div class="top-bar-left">
    <ul class="vertical medium-horizontal menu">
      <li class="menu-text">art.</li>
      <li><a href="/">Home</a></li>
      <li><a href="/paintings">Paintings</a></li>
      <li><a href="/artists">Artists</a></li>
      <li><a href="/favorites">Favourites</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <% if (!currentUser) { %>
        <li><a href="/auth/login">Login</a></li>
        <li><a href="/auth/signup">Signup</a></li>
      <% } else { %>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/auth/logout">Logout</a></li>
      <% } %>
    </ul>
  </div>
</div>