<div class="grid-container">
  <h1 class="text-center">Favourites</h1>
  <div class="grid-x grid-padding-x align-middle">  
    <% for (let i = 0; i < favorites.length; i ++) { %>  
      <div class="cell large-3 medium-2 align-justify">
        <img src="<%= favorites[i].image %>" alt="">
        <form method="GET" action="/artists">
          <input type="hidden" name="name" value="<%= favorites[i].url %>">
          <div class="button-group align-center">
            <button class="button clear secondary align-center" type="submit"><%= favorites[i].artistName %></button>
          </form>
          <span>
            <form method="POST" action="/favorites/<%= favorites[i].url %>/?_method=DELETE">
              <input type="hidden" value="Delete">
              <button type="submit"><i class="fi-dislike"></i></button>
            </form>
          </span>
          </div>            
      </div>
    <% } %>
  </div>            
</div>