<div class="grid-container">
  <h2>Homepage</h2>
  
  <% for (let i = 0; i < artist.length; i ++) { %>  
  <div class="cell large-4">
  <img src="<%= artist[i].image %>" alt="">
  <form method="POST" action="/">
    <input type="hidden" name="name" value="<%= artist[i].url %>">
    <button class="btn btn-primary" type="submit"><%= artist[i].artistName %></button>
  </form> %>
  </div>   
  <% } %>
</div>


