<div class="grid-container">
  <h1 class="text-center">Artists</h1>
    <div class="grid-x grid-padding-x align-middle">  
      <% for (let i = 0; i < 36; i ++) { %>
        <div class="cell large-3 medium-2 align-justify">
          <img src="<%= artist[i].image %>" alt="">
            <form method="GET" action="/artists">
              <input type="hidden" name="name" value="<%= artist[i].url %>">
              <div class="button-group align-center">
                <button class="button clear secondary align-center artName" type="submit"><%= artist[i].artistName %></button>
              </div>
            </form>
        </div>
      <% } %>
    </div>
</div>