<div class="callback">
  <h2>Homepage</h2>
  
  <% for (let i = 0; i < artist.length; i ++) { %> 
>>>>>>> submain
  <% let randomNum = Math.floor(Math.random() * 60) %> 
  <img src="<%= artist[randomNum].image %>" alt="">
  <h3><%= artist[randomNum].artistName %></h3>
<% } %>
</div>


