<h1 class="text-center">Index</h1>

<div class="grid-container">
  <div class="grid-x">
    <% for (let i = 0; i < artist.length; i ++) { %> 
          <div class="cell large-3">
            <img src="<%= artist[i].image %>" alt="">
            <p><%= artist[i].artistName %></p>
          </div>
      <% } %>
    </div>
  </div>  
</div>


