<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>art.</title>
    <link rel="stylesheet" href="/css/style.css">
    <!-- Compressed Foundation CSS and JavaScript -->
  <link rel="stylesheet" href="/css/foundation.css">
  <link rel="stylesheet" href="/css/icons/foundation-icons.css">
</head>
<body>
  <%- include("partials/header") %>
  
  <%- include("partials/alerts") %>
  
  <%- body %>
  
  <%- include("partials/footer") %>

  <script src="/js/vendor/jquery.js"></script>
  <script src="/js/vendor/what-input.js"></script>
  <script src="/js/vendor/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>
  </body>
</html>
