<% for (let i = 0; i < paintings.length; i++) { %>
  <% let randomNum = Math.floor(Math.random() * 60) %> 
  <div>
    <img src="<%= paintings[randomNum].image %>" alt="">
  </div>
<% } %>
<!-- TODO: Figure out how to skip 404 images, with standard urls -->
<!-- consider finding out image dimensions and pop using those -->
<a href="/paintings/<%= paintings[0].title %> ">
  <img id="image" alt=""
  src="<%= paintings[0].image %>">
</a>
