body {
  background-color: lightgrey !important;
}

h1 {
  color: cadetblue !important;
}
.button {
  border-radius: 5px !important;
  padding: 0.5em 1em !important;
}

.artName {
  font-size: 14px !important;
  color: black !important;
}

.artName:hover {
  color: #2199e8 !important;
}